[Desktop Entry]
Type=Application
Name=AlterSend
Comment=Peer-to-peer file transfer
Exec=altersend
Icon=com.altersend.desktop
Categories=Network;
StartupNotify=true
Terminal=false
StartupWMClass=altersend
